---
layout: default
---

<div class="home">

    Welcome to the Reflex site.
    You can find more about Reflex
    <a href="{{ site.baseurl }}/about/">here.</a>
    You can buy our products in our
    <a href="{{ site.baseurl }}/store/">store.</a>

</div>
