<script>
    // Expose baseurl for JS
    var site = {
        baseurl: "{{ site.baseurl }}"
    };
</script>
<!-- Load require for later.... -->
<script defer src="{{ site.baseurl }}/js/require-local.js"></script>
<script defer src="{{ site.baseurl }}/js/requireconfig.js"></script>
<!-- Use PNotify's requirejs detection here.  -->
<script defer src="{{ site.baseurl }}/js/libs/pnotify.custom.js"></script>
<header>
    <!-- Make sure we get the JS plugin... -->
    <script defer src="{{ site.baseurl }}/js/loadbs.js"></script>
    <nav id="topnav" class="center-block wrapper navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#searchbar-form" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/img/reflexlogo_cropped_height32.png" alt="{{ site.title }}" height="32"/>
                </a>
            </div>
            <form class="collapse navbar-collapse" id="searchbar-form">
                <ul class="nav navbar-nav">
                    {% for node in site.pages %}
                    {% if node.nodisplay %}
                    {% comment %} For pages that don't need a nav entry {% endcomment %}
                    {% else %}
                    {% if node.title %}
                    {% assign class="" %}
                    {% if node.title == page.title %}
                    {% assign class="active" %}
                    {% endif %} {% comment %} if node.title == page.title {% endcomment %}
                    <li class="{{ class }}"><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
                    {% endif %} {% comment %} if node.title {% endcomment %}
                    {% endif %} {% comment %} if node.nodisplay {% endcomment %}
                    {% endfor %} {% comment %} for node in site.pages {% endcomment %}
                </ul>
                {% if page.nodisplay and page.title %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                </ul>
                {% endif %}
                {% comment %} <!-- TODO - searchbar -->
                <div id="searchbar" class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input name="query" id="searchbar-query" type="text" class="form-control no-highlight"
                               placeholder="Search">
                        <span class="input-group-btn">
                            <button id="searchbar-submit" type="submit" class="btn btn-primary no-highlight">
                                <span class="glyphicon glyphicon-search">
                                    <span class="sr-only">Search</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
                <!-- Searchbar JS -->
                <script defer src="{{ site.baseurl }}/js/searchbar.js"></script>
                {% endcomment %}
            </form>
        </div>
    </nav>
</header>
