.left-inner-addon {
  position: relative;
  input {
    padding-left: 30px;
  }
  span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
  }
}

.right-inner-addon {
  position: relative;
  input {
    padding-right: 30px;
  }
  span {
    pointer-events: none;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin no-highlight {
  outline: none;
  -webkit-appearance: none;
}

.no-highlight, .no-highlight:active, .no-highlight:hover, .no-highlight:focus {
  @include no-highlight;
}

.form-control.no-highlight, .form-control.no-highlight:focus {
  box-shadow: none;
  border: none;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group-highlight {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.navbar-brand {
  padding: 10px 15px 0 15px;
  > img {
    display: inline;
  }
}

.navbar-nav > li > a {
  border-left: 1px solid rgba(100, 100, 100, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#topnav {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  @include media-query($on-laptop) {
    max-width: $content-width;
  }
  @include media-query($on-palm) {
    max-width: 100%;
    margin: 0;
  }
}

/**
 * Small alerts!
 */
.alert-small {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.alert-floating {
  z-index: 10;
}

.ui-alert button {
  @include no-highlight;
}

// Make content have a defined border
#content {
  padding: 15px;
  background: rgb(248, 248, 248) linear-gradient(rgb(255, 255, 255) 0, rgb(248, 248, 248) 100%) repeat-x;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 4px;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: rgba(255, 255, 255, 0.14902) 0 1px 0 0 inset,
  rgba(0, 0, 0, 0.0745098) 0 1px 5px 0;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
}

// similar effect for the cover
#stop-loading-cover {
  background: rgb(248, 248, 248) linear-gradient(rgb(255, 255, 255) 0, rgb(248, 248, 248) 100%) repeat-x;
  border-radius: 0 0 4px 4px;
  border: 0 solid rgb(231, 231, 231);
  box-shadow: rgba(255, 255, 255, 0.14902) 0 1px 0 0 inset,
  rgba(0, 0, 0, 0.0745098) 0 1px 5px 0;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  position: absolute;
  top: 0;
  z-index: 1000;
  margin: auto;
}

#searchbar-query {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#searchbar-submit {
}

.no-margins {
  margin: 0;
}

.ui-alert-holder {
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 10;
  position: fixed;
  @include media-query($on-laptop) {
    width: $content-width;
  }
  @include media-query($on-palm) {
    width: 100%;
    margin: 0;
  }
}

.alert.ui-pnotify-container {
  margin-bottom: 0;
}

.radio {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}

.really-nice-image {
  padding: 2%;
  background-color: #eee;
  border-radius: 15px;
  max-height: 100%;
  margin: auto;
}

.container-fluid .row .col-md-4 {
  text-align: center;
}
