.ui-pnotify {
  top: 25px;
  right: 25px;
  position: absolute;
  height: auto;
  z-index: 9999;
}

html > body > .ui-pnotify {
  position: fixed;
}

.ui-pnotify .ui-pnotify-shadow {
  -webkit-box-shadow: 0 2px 10px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(50, 50, 50, 0.5);
  box-shadow: 0 2px 10px rgba(50, 50, 50, 0.5);
}

.ui-pnotify-container {
  background-position: 0 0;
  padding: .8em;
  height: 100%;
  margin: 0;
  &.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

.ui-pnotify-title {
  display: block;
  margin-bottom: .4em;
  margin-top: 0;
}

.ui-pnotify-text {
  display: block;
}

.ui-pnotify-icon {
  display: block;
  float: left;
  margin-right: .2em;
  span {
    display: block;
    float: left;
    margin-right: .2em;
  }
}

.ui-pnotify {
  &.stack-bottomleft, &.stack-topleft {
    left: 25px;
    right: auto;
  }
  &.stack-bottomleft, &.stack-bottomright {
    bottom: 25px;
    top: auto;
  }
}

.ui-pnotify-closer, .ui-pnotify-sticker {
  float: right;
  margin-left: .2em;
}

.ui-pnotify-history-container {
  position: absolute;
  top: 0;
  right: 18px;
  width: 70px;
  border-top: none;
  padding: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  z-index: 10000;
  &.ui-pnotify-history-fixed {
    position: fixed;
  }
  .ui-pnotify-history-header {
    padding: 2px;
    text-align: center;
  }
  button {
    cursor: pointer;
    display: block;
    width: 100%;
  }
  .ui-pnotify-history-pulldown {
    display: block;
    margin: 0 auto;
  }
}
