<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content center-block">
      <div class="wrapper">
        <div id="alerts" class="ui-alert-holder"></div>
      </div>
      <div id="content" class="wrapper panel">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
